DOMAIN_ADDRESS=
ADMIN_EMAIL=
EUREKA_URL=http://discovery-service
CONFIG_URL=http://shortic-config-server
EUREKA_PORT=18761
CONFIG_PORT=18001
GIVING_SERVICE_PORT=18081
COUNTING_SERVICE_PORT=18082
# По умолчанию nginx-proxy будет искать фронт на 80 порту
FRONTEND_SERVICE_PORT=80
# Длина сокращённой ссылки, оптимально 6 символов
# Я не придумал как прокинуть эту переменную ещё и в создание таблиц, поэтому нужно вручную указать это значение в
# файле backend-giving-service/src/main/resources/db/changelog/v.1.0.0/create-tables.xml в column name="short_link"
# файле backend-counting-service/src/main/resources/db/changelog/v.1.0.0/create-tables.xml в column name="short_link"
SHORT_LINK_LENGTH=6
# Максимальная длина сокращаемой ссылки - оптимально 2048 символов, как указано здесь: https://ru.wikipedia.org/wiki/URL
# Я не придумал как прокинуть эту переменную ещё и в создание таблиц, поэтому нужно вручную указать это значение в
# файле backend-giving-service/src/main/resources/db/changelog/v.1.0.0/create-tables.xml в column name="full_link"
# файле backend-counting-service/src/main/resources/db/changelog/v.1.0.0/create-tables.xml в column name="full_link"
FULL_LINK_MAX_LENGTH=2048
# Редис используется для кэширования
REDIS_HOST=
REDIS_PASSWORD=
# Адрес сервиса для проверки ссылок на опасность
CHECKING_SERVICE_URL=https://sba.yandex.net/v4/threatMatches:find?key=
# API ключ для проверки
CHECKING_API_KEY=
# данные БД для подсчёта статистики
POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
# данные БД для быстрой отдачи ссылок
FAST_POSTGRES_HOST=
FAST_POSTGRES_USERNAME=
FAST_POSTGRES_PASSWORD=
FAST_POSTGRES_DATABASE=
# кол-во потоков для периодической проверки ссылок на опасность
NUMBER_OF_THREADS_FOR_SCHEDULED_CHECKING=50
# периодичность отложенной задачи для проверки ссылок на опасность
TIME_LIMIT_FOR_SCHEDULED_CHECKING_IN_MINUTES=10
# юридические данные для подстановки на страницу oferta.html и privacy.html
OFFER_FROM_WHO=Индивидуального Предпринимателя Кузьмина П.В. (ОГРН 318745600116906 ИНН 744607374697)
# Также в файле backend-counting-service/src/main/resources/db/changelog/v.1.0.0/create-tables.xml
# можно настроить размеры ячеек БД для backend-counting-service, такие как: column name="password",
# column name="ip_address", "user_agent", "referrer", "language".