EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://host:port/eureka/
SPRING_CLOUD_CONFIG_URI=http://host:port
YANDEX_API_KEY=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
REDIS_PASSWORD=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=
NUMBER_OF_THREADS_FOR_SCHEDULED_CHECKING=
TIME_LIMIT_FOR_SCHEDULED_CHECKING_IN_MINUTES=