EUREKA_URL=http://discovery-service
CONFIG_URL=http://shortic-config-server
EUREKA_PORT=18761
CONFIG_PORT=18001
GIVING_SERVICE_PORT=18081
COUNTING_SERVICE_PORT=18082
FRONTEND_SERVICE_PORT=18080
# Редис используется для кэширования
REDIS_HOST=
REDIS_PASSWORD=
# Адрес сервиса для проверки ссылок на опасность
CHECKING_SERVICE_URL="https://sba.yandex.net/v4/threatMatches:find?key="
# API ключ для проверки
CHECKING_API_KEY=
# данные БД для подсчёта статистики
POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
# данные БД для быстрой отдачи ссылок
FAST_POSTGRES_HOST=
FAST_POSTGRES_USERNAME=
FAST_POSTGRES_PASSWORD=
FAST_POSTGRES_DATABASE=
# кол-во потоков для периодической проверки ссылок на опасность
NUMBER_OF_THREADS_FOR_SCHEDULED_CHECKING=50
# периодичность отложенной задачи для проверки ссылок на опасность
TIME_LIMIT_FOR_SCHEDULED_CHECKING_IN_MINUTES=10
# юридические данные для подстановки на страницу oferta.html и privacy.html
OFFER_FROM_WHO=Индивидуального Предпринимателя Иванова И.И. (ОГРН 7777 ИНН 7777)