<nav th:fragment="nav(isMainPage)">
    <a th:if="${!isMainPage}" th:href="@{'/'}" th:class="'button'">На главную</a>
    <form th:method="get" th:action="@{/stats}" >
        <input type="text"
               name="shortLink"
               placeholder="сокращённая ссылка"
               required="true"
               maxlength="30"
        />
        <input type="password"
               name="password"
               placeholder="пароль 5 цифр"
               required="true"
               maxlength="5"
               pattern="\d{5}"
        />
        <input type="submit" value="СТАТИСТИКА"/>
    </form>
</nav>