<nav class="menu" th:fragment="nav">
    <a href="/" class="btn btn-primary btn-menu flex-center">НА ГЛАВНУЮ</a>
    <form class="menu-form" th:method="get" th:action="@{/stats}">
        <input class="form-control"
               type="text"
               name="shortLink"
               placeholder="сокращённая ссылка"
               required="true"
               maxlength="30"
        />
        <input class="form-control"
               type="password"
               name="password"
               placeholder="пароль 5 цифр"
               required="true"
               maxlength="5"
               pattern="\d{5}"
        />
        <input class="btn btn-secondary btn-menu" type="submit" value="СТАТИСТИКА"/>
    </form>
</nav>