<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Статистика кликов')}">
    <!-- Включение head -->
</div>
<body>
<div class="top-block" th:replace="~{fragments/nav :: nav}">
    <!-- Включение меню -->
</div>

<content class="column middle-block">
    <h2 class="text-danger">Пароль неправильный</h2>
    <p>Попробуйте ещё раз.</p>
</content>

<div class="bottom-block" th:replace="~{fragments/footer :: footer}" th:fragment="footer">
    <!-- Включение footer -->
</div>
</body>
</html>