<!--TODO make-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Статистика кликов')}">
    <!-- Включение head -->
</div>
<body>
<div th:replace="~{fragments/nav :: nav(${dtoForStats}, ${isMainPage})}">
    <!--<nav th:replace="~{menu :: menu(dto=${dto})}" th:fragment="menu">-->
    <!-- Включение меню -->
</div>

Wrong password

<div th:replace="~{fragments/footer :: footer}" th:fragment="footer">
    <!-- Включение footer -->
</div>
</body>
</html>