<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Создана сокращённая ссылка')}">
    <!-- Включение head -->
</div>
<body>
<div th:replace="~{fragments/nav :: nav(${isMainPage})}">
    <!-- Включение меню -->
</div>
<div class="column middle-block">
    <div class="created-block">
        <label class="text-secondary">Полная ссылка:</label>
        <p class="font-weight-bold input-group-text" th:text="${linkUnit.getFullLink()}"> </p>
    </div>
    <div class="created-block">
        <label class="text-secondary">Ваша короткая ссылка:</label>
        <div class="inner">
            <span class="font-weight-bold input-group-text" id="shortLink" th:text="${shortLink}"> </span>
            <button id="copyButton" onclick="copyToClipboard()" class="btn btn-primary">КОПИРОВАТЬ</button>
        </div>
    </div>
    <div class="created-block w-75">
        <p class="text-info">Мы проверяем безопасность ссылки, она будет активна через 10 секунд.</p>
    </div>

    <form class="created-block col card p-3 mb-5" th:method="put"
          th:action="@{/password(shortLink=${linkUnit.getShortLink()})}">
        <div class="created-block">
            <label class="font-size-big" type="text" for="link">Можем вести статистику кликов, хотите?</label>
            <div class="inner">
                <input class="form-control"
                       id="link"
                       placeholder="Придумайте код из 5 цифр"
                       required="true"
                       maxlength="5"
                       pattern="\d{5}"
                       type="text"
                       name="password"
                />
                <input class="btn btn-primary btn-menu" type="submit" value="ЗАПОМИНАТЬ СТАТИСТИКУ"/>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}" th:fragment="footer">
    <!-- Включение footer -->
</div>

<script>
    function copyToClipboard() {
        const shortLink = document.getElementById('shortLink').textContent;
        const copyButton = document.getElementById('copyButton');

        if (shortLink) {
            navigator.clipboard.writeText(shortLink)
                .then(() => {
                    copyButton.textContent = "СКОПИРОВАНО";
                    copyButton.disabled = true;
                })
                .catch(err => {
                    console.error("Ошибка при копировании: ", err);
                    copyButton.textContent = "ОШИБКА!";
                });
        } else {
            alert("Ссылка пуста.");
        }
    }
</script>
</body>
</html>