<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Оферта')}">
    <!-- Включение head -->
</div>
<body>
<div th:replace="~{fragments/nav :: nav(${isMainPage})}">
    <!-- Включение меню -->
</div>
<div class="column w-80">
    <h1>Условия использования сервиса сокращения ссылок</h1>
    <ol>
        <li>Общие положения
            <ol>
                <li>Настоящий документ «Условия использования сервиса сокращения ссылок» (далее — Соглашение)
                    представляет собой предложение [[${fromWho}]] (далее — Администратор) пользователю сети Интернет
                    (далее — Пользователь) заключить соглашение об использовании настоящего сервиса сокращения ссылок
                    (далее – Сервис) на изложенных ниже условиях.
                </li>
                <li>Пользователь обязуется ознакомиться с Соглашением и самостоятельно несет риск такого
                    неознакомления.
                </li>
                <li>Воспользовавшись любой функциональной возможностью Сервиса, Пользователь выражает свое
                    безоговорочное согласие со всеми условиями Соглашения и обязуется их соблюдать или прекратить
                    использование Сервиса.
                </li>
            </ol>
        </li>
        <li>Использование Сервиса
            <ol>
                <li>Сервис предоставляет Пользователю бесплатную возможность сокращения URL-ссылок. Для использования
                    этого функционала Пользователь должен разместить в Сервисе соответствующую URL-ссылку, далее
                    получить сокращенную версию таковой.
                </li>
                <li>Также Сервис предоставляет возможность просмотра статистики переходов по сокращённой ссылке. Но
                    только в случае, если Пользователь пожелает этого, и установит пароль для ссылки сразу после её
                    создания на соответствующей странице.
                </li>
                <li>Размещаемая пользователем URL-ссылка не должна:
                    <ol>
                        <li>Содержать более чем 4096 символов;</li>
                        <li>Являться сокращенной версией другой URL-ссылки;</li>
                        <li>Вести на вредоносные ресурсы, а также на ресурсы, распространяющие информацию, с нарушением
                            требований российского законодательства.
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Ответственность и ограничение ответственности
            <ol>
                <li>Сервис (включая информацию, получаемую с его помощью) предоставляется Администратором «как есть».
                    Администратор не гарантирует соответствие Сервиса целям и ожиданиям пользователей, бесперебойную и
                    безошибочную работу Сервиса. Администратор не несет ответственности и не возмещает никакой ущерб,
                    прямой или косвенный, причиненный пользователю Сервиса или третьим лицам в результате использования
                    или невозможности использования Сервиса, а также в результате использования или невозможности
                    использования информации, получаемой с помощью Сервиса.
                </li>
                <li>Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия при
                    использовании Сервиса, а также гарантирует, что его действия соответствуют требованиям
                    законодательства и не нарушают права и законные интересы третьих лиц. Пользователь самостоятельно и
                    за свой счет обязуется урегулировать все претензии третьих лиц, связанные с действиями Пользователя
                    при использовании Сервиса, освобождая Администратора, его аффилированных лиц, работников, партнеров
                    и/или контрагентов от любых претензий со стороны третьих лиц (включая уполномоченных государственных
                    органов).
                </li>
                <li>В случае если URL-ссылка, которую Пользователь разместил в Сервисе, представляет собой объект
                    интеллектуальных или иных прав, то для целей надлежащего предоставления Сервиса Пользователь
                    предоставляет Администратору право использования такого объекта интеллектуальных или иных прав, на
                    условиях простой (неисключительной), безвозмездной, действующей на территории всего мира, в течение
                    всего срока действия исключительного права, с правом сублицензирования, и не предусматривающей
                    каких-либо дополнительных выплат, а также предоставления отчетов об использовании, лицензии всеми
                    способами, предусмотренными применимым законодательством, включая, но не ограничиваясь, путем:
                    извлечения, поиска, обработки, анализа, воспроизведения, распространения, переработки, технической
                    интеграции, комбинирования, ассоциирования и/или сопоставления с любыми данными и/или информацией,
                    принадлежащей Администратору и/или находящейся в распоряжении Администратора, а также осуществления
                    иных действий, не запрещенных Соглашением и/или применимым законодательством.
                </li>
                <li>В случае если URL-ссылка, которую Пользователь разместил в Сервисе, содержит персональные данные
                    Пользователя и/или третьих лиц, Пользователь соглашается с их обработкой (в отношении собственных
                    персональных данных), а также заверяет и гарантирует (в отношении персональных данных третьих лиц),
                    что обеспечил правомерность обработки таких персональных данных Администратором, его аффилированными
                    лицами в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных
                    данных», в том числе наличие надлежащего законного основания для передачи персональных данных
                    Администратору, его аффилированным лицам и последующей обработки персональных данных
                    Администратором, его аффилированными лицами, а также надлежащее уведомление субъектов о такой
                    обработке в степени, требуемой законодательством, для достижения целей, определенных в Политике
                    конфиденциальности Администратора.
                </li>
            </ol>
        </li>
        <li>Иные положения
            <ol>
                <li>К настоящему Соглашению и отношениям между Администратором и Пользователем, возникающим в связи
                    использованием Сервиса Пользователем, подлежит применению право Российской Федерации.
                </li>
                <li>Администратор имеет право без уведомления по собственному усмотрению прекратить или приостановить
                    доступ Пользователя к Сервису без объяснения причин, в частности, в случае нарушения таким
                    Пользователем требований настоящего Соглашения.
                </li>
                <li>Администратор имеет право без уведомления по собственному усмотрению прекратить работу Сервиса без
                    объяснения причин.
                </li>
                <li>Администратор может в любое время без уведомления Пользователя изменять текст настоящего Соглашения
                    и/или любые иные условия использования Сервиса. Актуальный текст настоящего Соглашения размещается
                    по адресу: <a th:href="@{/oferta}">[[${thisPageUrl}]]</a>.
                </li>
            </ol>
        </li>
    </ol>
</div>
<div th:replace="~{fragments/footer :: footer}" th:fragment="footer">
    <!-- Включение footer -->
</div>
</body>
</html>