<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="pageTitle='Статистика кликов'">
    <!-- Включение head -->
    <div th:replace="~{head :: head}" th:fragment="head"></div>
</th:block>
<body>
<nav th:replace="~{menu :: menu(dto=${dto})}" th:fragment="menu" >
    <!-- Включение меню -->
</nav>

<!--тут стата и ПАГИНАЦИЯ!-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>CLICK TIME</th>
        <th>IP ADDRESS</th>
        <th>LANGUAGE</th>
        <th>REFERER</th>
        <th>USER-AGENT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="click : ${linkUnit.getClicks()}">
        <td th:text="${click.getId()}">ID</td>
        <td th:text="${click.getFormattedTime()}">CLICK TIME</td>
        <td th:text="${click.getIpAddress()}">IP ADDRESS</td>
        <td th:text="${click.getLanguage()}">LANGUAGE</td>
        <td th:text="${click.getReferer()}">REFERER</td>
        <td th:text="${click.getUserAgent()}">USER-AGENT</td>
    </tr>
    </tbody>
</table>

</body>
</html>