<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Политика конфиденциальности')}">
    <!-- Включение head -->
</div>
<body>
<div th:replace="~{fragments/nav :: nav}">
    <!-- Включение меню -->
</div>
<div class="column w-80 margin-20">
    <h1>Политика конфиденциальности</h1>
    Настоящий документ «Политика конфиденциальности» (далее — Политика) представляет собой правила [[${fromWho}]] (далее — Администратор) по использованию данных пользователей сети Интернет (далее — Пользователь), собираемых с использованием сайта [[${thisSiteUrl}]] (далее – Сайт).
    <ol>
        <li>Обрабатываемые данные
            <ol>
                <li>Администратор на осуществляет сбор персональных данных Пользователя с использованием Сайта.</li>
                <li>Все данные, собираемые Сайтом, предоставляются и принимаются в обезличенной форме (далее — Обезличенные данные).</li>
                <li>Обезличенные данные включают следующие сведения, которые не позволяют идентифицировать Пользователя:
                    <ol>
                        <li>Информацию, которую Пользователь предоставляет о себе самостоятельно с использованием онлайн-форм и программных модулей Сайта, включая имя и номер телефона и/или адрес электронной почты.</li>
                        <li>Данные, которые передаются в обезличенном виде в автоматическом режиме в зависимости от настроек используемого Пользователем программного обеспечения.</li>
                    </ol>
                </li>
                <li>Администратор вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта.</li>
                <li>Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно он даёт информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.</li>
                <li>Администратор не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.</li>
                <li>Пользователь осознаёт и принимает возможность использования на Сайте программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать указанные в п.1.3 данные в обезличенном виде.
                    К указанному программному обеспечению третьих лиц относятся системы сбора статистики посещений такие как Яндекс.Метрика, и другое программное обеспечение.</li>
                <li>Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих лиц определяются непосредственно их правообладателями и могут включать:
                    <ul>
                        <li>данные браузера (тип, версия, cookie);</li>
                        <li>данные устройства и место его положения;</li>
                        <li>данные операционной системы (тип, версия, разрешение экрана);</li>
                        <li>данные запроса (время, источник перехода, IP-адрес).</li>
                    </ul>
                </li>
                <li>Администратор не несет ответственность за порядок использования Обезличенных данных Пользователя третьими лицами.</li>
            </ol>
        </li>
        <li>Цели обработки данных
            <ol>
                <li>Администратор использует данные в следующих целях:
                    <ol>
                        <li>Обработка поступающих запросов и связи с Пользователем;</li>
                        <li>Информационное обслуживание, включая рассылку рекламно-информационных материалов;</li>
                        <li>Проведение маркетинговых, статистических и иных исследований;</li>
                        <li>Таргетирование рекламных материалов на Сайте.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>Требования к защите данных
            <ol>
                <li>Администратор осуществляет хранение данных и обеспечивает их охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.</li>
                <li>В отношении полученных данных сохраняется конфиденциальность, за исключением случаев, когда они сделаны Пользователем общедоступными, а также когда используемые на Сайте технологии и программное обеспечение третьих лиц либо настройки используемого Пользователем программного обеспечения предусматривают открытый обмен с данными лицами и/или иными участниками и пользователями сети Интернет.</li>
                <li>В целях повышения качества работы Сайта Администратор вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сайта в течение 1 (Одного) года.</li>
            </ol>
        </li>
        <li>Передача данных
            <ol>
                <li>Администрация вправе передать данные третьим лицам в следующих случаях:
                    <ul>
                        <li>Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;</li>
                        <li>Передача необходима в рамках использования Пользователем функциональных возможностей Сайта;</li>
                        <li>Передача требуется в соответствии с целями обработки данных;</li>
                        <li>В связи с передачей Сайта во владение, пользование или собственность такого третьего лица;</li>
                        <li>По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;</li>
                        <li>Для защиты прав и законных интересов Администратора в связи с допущенными Пользователем нарушениями.</li>
                    </ul>
                </li>
            </ol>
        </li>
        <li>Изменение Политики конфиденциальности
            <ol>
                <li>Настоящая Политика может быть изменена или прекращена Администратором в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.</li>
                <li>Действующая редакция Политики находится на Сайте в сети Интернет по адресу: <a th:href="@{/privacy}">[[${thisPageUrl}]]</a>.</li>
            </ol>
        </li>
    </ol>
    Действующая редакция Политики от 15 августа 2024 г.
</div>
<div th:replace="~{fragments/footer :: footer}" th:fragment="footer">
    <!-- Включение footer -->
</div>
</body>
</html>